version: '3'

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./vhostd:/etc/nginx/vhost.d/
      - ./html:/usr/share/nginx/html
    labels:
      - com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    environment:
      - NGINX_PROXY_CONTAINER=nginx-proxy
      - DEFAULT_EMAIL=miguelgarciaponce85@gmail.com
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme:/etc/acme.sh
      - ./certs:/etc/nginx/certs
      - ./vhostd:/etc/nginx/vhost.d/
      - ./html:/usr/share/nginx/html

volumes:
  certs:
  html:
  vhostd:
  acme:

networks:
  default:
    external:
      name: nginx-proxy